.dashboard-container {
  padding-top: 70px; /* cria espaço para o menu fixo */
  padding-bottom: 80px; /* espaço extra para o footer ficar abaixo do conteúdo */
}

h2 {
  color: #0d6efd;
  font-weight: 700;
}

.card {
  border-radius: 10px;
}

.mb-4 {
  padding-top: 40px; 
}

.card-header {
  background-color: #f8f9fa;
  color: #0d6efd;
  font-weight: 600;
}

.table-dark th {
  background-color: #003366 !important;
  color: white !important;
}

.table-primary {
  background-color: #e6f0ff !important;
}

/* Classe para imagens dos veículos: maior, centralizada e responsiva */
.vehicle-img {
  width: 90%;          
  max-width: 800px;    
  height: auto;
}

footer{
  width: 100%;
  position: fixed; 
  bottom: 0;
}
